/* Sampling piece colors from : https://vignette.wikia.nocookie.net/tetrisconcept/images/c/ca/Tetromino_image.png/revision/latest/scale-to-width-down/340?cb=20090706171943 */
/* The darker shade is the CYMK Key incremented by 10 of the base color */

@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');

* {
  box-sizing: border-box;
  background-color: #C0C4CC;
  font-family: 'Oxanium', cursive;
}

button{
  margin: 3px;
}

p{
  margin: 3px;
}

form{
  margin: 3px;
}

.square{
  width: 25px;
  height: 25px;
  background-color: black;
  margin: 1px;
}

.row {
  display: flex;
  flex-direction: row;
}

.board{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.stats{
  margin: 10px;
  border-style: groove;
  height: fit-content;
}

.leaderboard{
  border-style: groove;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.leaderboard h1{
  margin: 2px;
  margin-left: 4px;
}

.tetris{
  display: flex;
  flex-direction: row;
}

.App{
  display: flex;
  justify-content: center;
}

.game-button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.start-button{
  background-color: white;
  width: 50%;
  padding: 3px;
  padding-top: 5px;
  font-size: 18px;
}

.restart-button{
  background-color: white;
  width: 50%;
  padding: 3px;
  padding-top: 5px;
  font-size: 18px;
}

.game-stats{
  border-style: groove;
  margin-left: 3px;
  margin-right: 3px;
}

.level-p{
  margin-left: 5px;
}

.score-p{
  margin-left: 5px;
}

.lines-p{
  margin-left: 5px;
}

.logged-in-user-actions{
  border-style: groove;
  margin-left: 3px;
  margin-right: 3px;
}

.logged-in-message{
  margin-left: 6px;
  font-weight: bold;
}

.logged-in-buttons{
  display: flex;
  flex-direction: row;
}

.logged-in-buttons button{
  background-color: white;
  width: 50%;
  padding: 3px;
  padding-top: 5px;
  font-size: 18px;
}

.user-section{
  border-style: groove;
  margin-left: 3px;
  margin-right: 3px;
}

.toggle-container{
  display: flex;
  flex-direction: row;
}

.toggle-container p{
  padding-top: 1px;
}

.toggle-prompt{
  font-size: 13px;
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: 1px;
}

.toggle-buttons{
  background-color: white;
  width: 50%;
  padding: 3px;
  padding-top: 3px;
  font-size: 15px;
  margin: 1px;
  margin-left: 3px;
  margin-right: 3px;
}

.form-container{
  display: flex;
  flex-direction: row;
  margin: 2px;
}

.signup-form{
  display: flex;
  flex-direction: column;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}

.signup-form p{
  margin: 1px;
  margin-left: 4px;
  font-size: 13px;
  font-weight: bold;
}

.signup-form input{
  background-color: white;
  margin: 2px;
  padding: 2px;
  width: 200%;
}

.signup-form input[type=submit]{
  background-color: #eeeeee;
  border-radius: 1px;
  width: fit-content;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

.login-form{
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transform: translateX(129px);
  transition: all 0.5s;
}

.login-form p{
  margin: 1px;
  margin-left: 4px;
  font-size: 13px;
  font-weight: bold;
}

.login-form input{
  background-color: white;
  margin: 2px;
  padding: 2px;
  width: 200%;
}

.login-form input[type=submit]{
  background-color: #eeeeee;
  border-radius: 1px;
  width: fit-content;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

.transform-sign{
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  transform: translateX(258px);
}

.transform-log{
  transition: all 0.5s;
  opacity: 1;
  visibility: visible;
  transform: translateX(-141px);
}

.logout-button{
  background-color: white;
}

.post-score-button{
  background-color: white;
}

.player-and-score{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1px;
  margin-left: 2px;
  margin-right: 2px;
}

.player-and-score p {
  margin: 1px;
  margin-left: 3px;
  margin-right: 3px;
}

.red{
  background-color: #F10000;
  border-style: outset;
  border-color: #D90000;
}

.blue{
  background-color: #0000F0;
  border-style: outset;
  border-color: #0000D9;
}

.cyan{
  background-color: #00F0F0;
  border-style: outset;
  border-color: #00D9D9;
}

.orange{
  background-color: #F0A100;
  border-style: outset;
  border-color: #D99300;
}

.green{
  background-color: #00F000;
  border-style: outset;
  border-color: #00D900;
}

.yellow{
  background-color: #F0F000;
  border-style: outset;
  border-color: #D9D900;
}

.purple{
  background-color: #A200F2;
  border-style: outset;
  border-color: #9100D9;
}