* {
  box-sizing: border-box;
}

.square{
  width: 25px;
  height: 25px;
  background-color: black;
  margin: 1px;
}

.row {
  display: flex;
  flex-direction: row;
}

.board{
  display: flex;
  flex-direction: column;
}

.App{
  display: flex;
  justify-content: center;
}

.piece{
  background-color: red;
}

.pile{
  background-color: blue;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.cyan{
  background-color: cyan;
}

.orange{
  background-color: orange;
}

.green{
  background-color: green;
}

.yellow{
  background-color: yellow;
}

.purple{
  background-color: purple;
}